{% args info %}
      <form name='frmselect' method='post'>
         <table>
            <TR>
               <TD colspan='2'>
                  <h2>Main Settings</h2>
            <TR>
               <TD>Unit Name:
               <TD><input type='text' name='name' maxlength=25 value='{{info['name']}}'>
            <TR>
               <TD>Webserver Port:
               <TD><input type='number' name='port' min=1 max=65535 value={{info['port']}}> <a class="button help" href="" target="_blank">&#10068;</a>
            <TR>
               <TD>Unit Number:
               <TD><input type='number' name='unit' min=0 max=9999 style='width:5em;' value={{info['unit']}}>
            <TR>
               <TD>Admin Password:
               <TD><input type='password' name='password' maxlength=25 value='{{info['password']}}'>
            <TR>
               <TD colspan='2'>
                  <h3>Wifi Settings</h3>
            <TR>
               <TD>SSID:
               <TD><input type='text' name='ssid' maxlength=31 value='{{info['ssid']}}' {{info['wifi']}}>
            <TR>
               <TD>WPA Key:
               <TD><input type='password' name='key' maxlength=63 value='{{info['key']}}' {{info['wifi']}}>
            <TR>
               <TD>Fallback SSID:
               <TD><input type='text' name='fbssid' maxlength=31 value='{{info['fbssid']}}' {{info['wifi']}}>
            <TR>
               <TD>Fallback WPA Key:
               <TD><input type='password' name='fbkey' maxlength=63 value='{{info['fbkey']}}' {{info['wifi']}}>
            <TR>
               <TD colspan='2'>
                  <hr>
            <TR>
               <TD colspan='2'>
                  <h3>IP Settings</h3>
            <TR>
               <TD>IP:
               <TD><input type='text' name='ip' value='{{info['ip']}}' {{info['ethernet']}}>
            <TR>
               <TD>GW:
               <TD><input type='text' name='gateway' value='{{info['gateway']}}' {{info['ethernet']}}>
            <TR>
               <TD>Subnet:
               <TD><input type='text' name='subnet' value='{{info['subnet']}}' {{info['ethernet']}}>
            <TR>
               <TD>DNS:
               <TD><input type='text' name='dns' value='{{info['dns']}}' {{info['ethernet']}}>
            <TR>
               <TD>
               <TD>
                  <div class='note'>Note: Leave empty for DHCP</div>
            <TR>
               <TD colspan='2'>
                  <h3>Sleep Mode</h3>
            <TR>
               <TD>Sleep enabled:
               <TD><input type=checkbox id='sleepenable' name='sleepenable' {{info['sleepenable']}} {{info['sleep']}}> <a class="button help" href="" target="_blank">&#10068;</a>
            <TR>
               <TD>Sleep Delay:
               <TD><input type='number' name='sleeptime' min=0 max=4294 style='width:5em;' value={{info['sleeptime']}} {{info['sleep']}}> [sec]
            <TR>
               <TD>Sleep on connection failure:
               <TD><input type=checkbox id='sleepfailure' name='sleepfailure' {{info['sleepfailure']}} {{info['sleep']}}>
            <TR>
               <TD colspan='2'>
                  <hr>
            <TR>
               <TD>
               <TD><input class='button link' type='submit' value='Submit'>
         </table>
      </form>

