{% args info,protocols,controller %}
         <TR>
             <TD>Locate Controller:
             <TD>
                <select name='usedns'>
                   <option value='off' {% if controller['usedns'] == '' %}selected{% endif %}>Use IP address</option>
                   <option value='on' {% if controller['usedns'] == 'on' %}selected{% endif %}>Use Hostname</option>
                </select>
          <TR>
             <TD>Controller Hostname:
             <TD><input type='text' name='hostname' maxlength='64' value='{{controller['hostname']}}'>
          <TR>
             <TD>Controller Port:
             <TD><input type='number' name='port' min='1' max='65535' style='width: 80px;' value='{{controller['port']}}'>
          <TR>
             <TD>Controller User:
             <TD><input type='text' name='user' maxlength='26' value='{{controller['user']}}'>
          <TR>
             <TD>Controller Password:
             <TD><input type='password' name='password' maxlength='64' value='{{controller['password']}}'>
