{% args info, plugindata %}
<!- DO NOT CHANGE LINE ABOVE! -->
<TR>
   <TD>Device ID:
   <TD>
      <select name='deviceid'>
      {% for romcnt in range(0,plugindata["romcnt"]) %}
      <option value='{{plugindata["rom"+str(romcnt)]}}'>{{plugindata["rom"+str(romcnt)]}}</option>
      {% endfor %}
      </select>
<TR>
   <TD>Device Resolution:
   <TD>
      <select name='resolution'>
         <option value=9 {% if plugindata['resolution'] == 9 %}selected{% endif %}>9</option>
         <option value=10{% if plugindata['resolution'] == 10 %}selected{% endif %}>10</option>
         <option value=11{% if plugindata['resolution'] == 11 %}selected{% endif %}>11</option>
         <option value=12{% if plugindata['resolution'] == 12 %}selected{% endif %}>12</option>
      </select> Bit
{{plugindata['content']}}