{% args info, nodes %}
      <form>
         <table>
            <TR>
               <TH>System Info
               <TH>Value
               <TH>
               <TH>System Info
               <TH>Value
               <TH>
            <TR>
               <TD>Unit:
               <TD>{{info['unit']}}
               <TD>
               <TD>uPyEasy version:
               <TD>{{info['version']}}
            <TR>
               <TD>Local Time:
               <TD>{{info['time']}}
               <TD>
               <TD>Platform:
               <TD>{{info['platform']}}
            <TR>
               <TD>Uptime:
               <TD>{{info['uptime']}}
               <TD>
               <TD>Free/Total Heap:
               <TD>{{info['heap']}}
            <TR>
               <TD>IP:
               <TD>{{info['ip']}}
               <TD>
               <TD>Used Stack Mem:
               <TD>{{info['stack']}}
            <TR>
               <TH>Node List:
               <TH>Name
               <TH>Build
               <TH>Type
               <TH>IP
               <TH>Age
        {% for node in nodes %}
            <TR>
               <TD>
               <TD>
               <TD>
               <TD>
               <TD>
        {% endfor %}
            <TR>
               <TD colspan='2'>
                  <hr>
            <TR>
               <TD>
               <TD>
         </table>
      </form>
