{% args info %}
      <form>
         <table>
            <TR>
               <TH>System Info
               <TH>Value
            <TR>
               <TD>Unit
               <TD>{{info['unit']}}
            <TR>
               <TD>Platform
               <TD>{{info['platform']}}
            <TR>
               <TD>Version
               <TD>{{info['version']}}
            <TR>
               <TD>Build Status
               <TD>{{info['buildstatus']}}
            <TR>
               <TD>Build Version
               <TD>{{info['buildversion']}}
            <TR>
               <TD>Database Version
               <TD>{{info['dbversion']}}
            <TR>
               <TD>Micropython Version
               <TD>{{info['micropython']}}
            <TR>
               <TD>Machine Board
               <TD>{{info['board']}}
            <TR>
               <TD>Unique Identifier
               <TD>{{info['unique']}}
            <TR>
               <TD>CPU Frequency
               <TD>{{info['freq']}}
           <TR>
               <TD colspan='2'>
                  <hr>
                  <B>TIME</B>
            <TR>
               <TD>Local Time
               <TD>{{info['time']}}
            <TR>
               <TD>Uptime
               <TD>{{info['uptime']}}
            <TR>
               <TD colspan='2'>
                  <hr>
                  <B>Network</B>
            <TR>
               <TD>IP
               <TD>{{info['ip']}}
            <TR>
               <TD>Gateway
               <TD>{{info['gateway']}}
            <TR>
               <TD>Netmask
               <TD>{{info['subnet']}}
            <TR>
               <TD>DNS
               <TD>{{info['dns']}}
            <TR>
               <TD colspan='2'>
                  <hr>
                  <B>Memory</B>
            <TR>
               <TD>Free Heap
               <TD>{{info['free']}}
            <TR>
               <TD>Total Heap
               <TD>{{info['total']}}
             <TR>
               <TD>Current Use Heap
               <TD>{{info['current']}}
            <TR>
               <TD>Peak Use Heap
               <TD>{{info['peak']}}
            <TR>
               <TD>Used Stack 
               <TD>{{info['stack']}}
            <TR>
               <TD colspan='2'>
                  <hr>
           <TR>
            <TD colspan='2'><a class="button link" href="/tools">close</a>
         </table>
      </form>
