{% args info, plugindata %}
    {% for cnt in range(1,plugindata['valuecnt']+1) %}
        <TR>
           <TH>Value Setting {{cnt}}
           <TH>Value 
        <TR>
           <TD>Name: 
           <TD><input type='text' name='valueN{{cnt}}' maxlength='40' value='{{plugindata['valueN'+str(cnt)]}}'>
        <TR>
           <TD>Formula:
           <TD><input type='text' name='valueF{{cnt}}' maxlength='40' value='{{plugindata['valueF'+str(cnt)]}}'>
           <a class="button link" href="" target="_blank">?</a>
        <TR>
           <TD>Decimals:
           <TD><input type='number' name='valueD{{cnt}}' min=0 max=6 style='width:5em;' value='{{plugindata['valueD'+str(cnt)]}}'>
    {% endfor %}
    <TR>
       <TD colspan='2'>
          <hr>
    <TR>
       <TD>
       <TD><a class="button link" href="devices">Close</a><input class="button link" type='submit' value='Submit'>
    </table>
    </form>
