{% args info, rule %}
<form name = 'frmselect' method = 'post'>
    <table cellpadding='4' border='1' frame='box' rules='all'>
       <TH>Name
       <TR>
            <TD>
            {% if rule['operation'] == 'edit'  %} 
                <B>{{rule['filename']}}</B>
                <input type='hidden' name='filename' maxlength='26' value='{{rule['filename']}}'>
            {% else %}
                Filename: <input type='text' name='filename' maxlength='26' value=''>
            {% endif %}
       <TR>
          <TD><textarea name='content' rows='15' cols='80' wrap='off'>{{rule['content']}}</textarea>
       <TR>
          <TD>Current size: {{rule['size']}} characters
       <TR>
          <TD>
            <hr>
       <TR>
          <TD><a class="button link" href="rules">Close</a><input class="button link" type='submit' value='Submit'>
   </table>
</form>
