{% args info %}
      <form>
         <table>
            <TR>
               <TD colspan='2'>
                  <h2>Tools</h2>
            <TR>
               <TD colspan='2'>
                  <h3>System</h3>
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=reboot'>Reboot</a>
               <TD>Reboots ESP
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=log'>Log</a>
               <TD>Open log output
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/info'>Info</a>
               <TD>Open system info page
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/dxpins'>Dx pin status</a>
               <TD>Show Pin state buffer
            <TR>
               <TD colspan='2'>
                  <h3>Interfaces</h3>
            {% if info["wifi"] == True %}
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=wifiscanner'>Wifi AP Scan</a>
               <TD>Scan for Wifi Access Points
            {% endif %}
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=i2cscanner'>I2C Scan</a>
               <TD>Scan for I2C devices
            <TR>
               <TD colspan='2'>
                  <h3>Settings</h3>
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=upload'>Load</a>
               <TD>Loads a settings file
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=download'>Save</a>
               <TD>Saves a settings file
            <TR>
               <TD colspan='2'>
                  <h3>Firmware</h3>
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=update'>Load</a> <a class="button help" href="" target="_blank">&#10068;</a>
               <TD>Load a new firmware
            <TR>
               <TD colspan='2'>
                  <h3>Filesystem</h3>
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=filelist'>Flash</a>
               <TD>Show files on internal flash
            <TR>
               <TD HEIGHT="30"><a class='button link' href='/tools?ucmd=SDfilelist'>SD Card</a>
               <TD>Show files on SD-Card
            <TR>
               <TD>
         </table>
      </form>
